build
bibexport.bib


# from old paper dir
~$*.pptx
.vscode/
p.synctex.gz
.*.swp
.*.swo
*~
*.aux
*.fdb_latexmk
/*.bak
/*.bbl
/*.blg
/*.dvi
/*.fls
/*.log
/*.out
/*.toc
/*.pdf
/die.tar.gz
/rev.tex
/abstract.txt
/code/*.tex
!/code/fmt.tex
!/figs/*.pdf
!/figs/*.eps
!/data/*.pdf
!/data/*.eps
.latexrun.db
tags
*.code-workspace
paper/
structure-presv.svg
structure-presv.pdf
_minted-main/

.DS_Store
*.synctex.gz
